<div class="product-card-selector">
    @if(discount) {
        <div class="disccount-tag">
            <label>{{discountPercentage}}</label>
            <span class="material-icons">
                sell
            </span>
        </div>
    }
    <div 
        class="product-card-icon"
        [ngStyle]="{ 'background-color': bgColor }"
    >
        <img src={{data.img}} alt="product_img">
    </div>
    <div class="product-card-text">
        <p>{{type}}</p>
        <h4>{{data.name}}</h4>
        <div class="product-card-price">
            @if(discount) {
                <h5 [ngStyle]="{ 'text-decoration': 'line-through' }">{{price | currency}}</h5>
                <h4>{{discount | currency}}</h4>
            }
            @else {
                <h4>{{price | currency}}</h4>
            }
            <div class="add-product-cart">
                <div class="input-alter">
                    <button (click)="increaseQuantity()">
                        <span class="material-icons">
                            expand_less
                        </span>
                    </button>
                    <button (click)="decreaseQuantity()">
                        <span class="material-icons">
                            expand_more
                        </span>
                    </button>
                </div>
                <input 
                    title="Cantidad a agregar en el carrito" 
                    type="number"
                    [(ngModel)]="cart"
                >
                <button (click)="addToCart()">
                    <span class="material-icons">
                        shopping_cart
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<canvas [id]="canvaId"></canvas>
