.product-card-selector {
    cursor: pointer;
    // background-color: red;
    width: 100%;
    height: auto;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0px 1px 30px 0px rgba(36, 38, 43, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;

    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }

    .product-card-icon {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        min-width: 100px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.022);
        border-radius: 10px;

        img {
            transition: ease-in;
            transition-duration: 500ms;
            transform: scale(.98);
            cursor: inherit;
            width: inherit;
            height: inherit;
        }
    }

    &:hover > .product-card-icon > img {
        transition: ease-in;
        transition-duration: 500ms;
        transform: scale(1);
    }

    .product-card-text {
        width: 100%;
        color: gray;

        p {
            font-size: 8pt;
            position: relative;
            top: -2px;
        }

        .product-card-price {
            display: flex;
            gap: 10px;
            align-items: center;

            h4:first-child {
                font-size: 10pt;
                font-weight: bold;
            }
        }
    }   
}