.card-selector {
    cursor: pointer;
    // background-color: red;
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 30px 0px rgba(36, 38, 43, 0.10);

    .card-icon {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        min-width: 100px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.022);
        border-radius: 3px;
        span {
            transition: ease-in;
            transition-duration: 500ms;
            transform: scale(.8);
            cursor: inherit;
            // background-color: green;
        }
    }
    &:hover > .card-icon > span {
        transition: ease-in;
        transition-duration: 500ms;
        transform: scale(1);
    }
}