<div class="start-selector">
    <div class="flow">
        <p>¿Quién eres?</p>
        <div class="flow-options">
            <app-card 
                _icon="shopping_bag" 
                _text="Comprador" 
                [_size]="50"
                (click)="redirect('user')"
            ></app-card>
            <app-card 
                _icon="storefront" 
                _text="Vendedor" 
                [_size]="50"
                (click)="redirect('admin')"
            ></app-card>
        </div>
    </div>
</div>
