<div class="user-start-selector">
    <h3>Recomendaciones</h3>
    <div class="slider-container">
        <div class="slider">
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
        </div>
    </div>
    <div class="complete-space"></div>
</div>
