<div class="user-start-selector">
    <div class="jumbo jumbo-recommended">
        <div class="backwall"></div>
        <h1>Recomendaciones</h1>
    </div>
    <div class="slider-container">
        <div class="slider">
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
            <app-product-card class="slider-item" [_data]="product"></app-product-card>
            <app-product-card class="slider-item" [_data]="product2"></app-product-card>
        </div>
    </div>
    <div class="jumbo jumbo-catalog">
        <div class="backwall"></div>
        <h1>Catálogo</h1>
    </div>
    <div class="catalog-wrap">
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product"></app-product-card>
        <app-product-card class="catalog-wrap-item" [_data]="product2"></app-product-card>
    </div>
</div>
