<div class="user-header-selector">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon aria-label="Example icon-button with a heart icon">face</mat-icon>
    </button>
    <button 
        mat-icon-button
        (click)="redirect('/cart')"
    >
        <mat-icon aria-label="Example icon-button with a heart icon">shopping_cart</mat-icon>
    </button>
</div>
<mat-menu #userMenu="matMenu">
    <div 
        class="menu-user-info" 
        [ngStyle]="{
            'padding': '6px 16px 0 16px',
        }"
    >
        <p
            [ngStyle]="{ 'height': '30px' }"
        >
            User Name
        </p>
        <hr>
    </div>
    <button mat-menu-item disabled>Perfil</button>
    <button mat-menu-item (click)="redirect('/orders')">Ordenes</button>
</mat-menu>
  
